@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;


}


body{
    background: rgb(26, 51, 70);

    

    height: 100vh;

    font-size: 1rem;
    color: #fff;

    font-family: Bebas Neue,Arial, Helvetica, sans-serif;

}