

.main-login{
    width:50%;
    text-align: center;
    margin: 0 auto;
}

.main-login-cont{
font-size: inherit;
}

.login-btn{
    width: 200px;
    height: 70px;
    font-size: 1.3rem;
    background: rgb(9, 23, 53);
    color: #fff;
}


h1{
    font-size: 100px;
}
h2{
    font-size: 65px;
}